/* Stylesheet for RatWatch Website */

/* Color Scheme
   - #04343F -> Steel green
   - #FF4D4D -> Light red
   - #F5F5F5 -> White smoke
   - #fff -> White
*/

/* Starter CSS */

html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  color: #04343F !important;
  background-color: #F5F5F5;
  font-family: 'PT Sans', sans-serif !important;
}

#wrapper {
  transition: 0.5s;
}

#overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
}

/* Navbar */

.navbar {
  background-color: #F5F5F5;
}

.navbar img {
  margin-top: 4px;
  margin-left: 12px;
}

.navbar a {
  padding-top: 8px;
}

.navbar a span {
  padding-left: 16px;
  font-size: 36px;
  color: #04343F;
  font-weight: bold;
  letter-spacing: 8px;
}

#menu {
  margin: 0 auto;
  margin-right: 0;
}

#menu div {
  height: 4px;
  width: 28px;
  margin: 6px 16px;
  background-color: #04343F;
  transition: 0.2s;
}

#menu:hover div:nth-child(1) {
  margin-left: 3px;
}

#menu:hover div:nth-child(2) {
  margin-right: 9px;
}

#menu:hover div:nth-child(3) {
  margin-left: 3px;
}

#sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #04343F;
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
}

#sidebar a {
  padding: 18px 8px 8px 32px;
  text-decoration: none;
  font-size: 24px;
  color: #F5F5F5;
  display: block;
  transition: 0.3s;
  letter-spacing: 4px;
  font-weight: bold;
}

#sidebar a:hover {
  color: #FF4D4D;
}

#sidebar a:nth-child(2) {
  margin-top: 22px;
}

#sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 60px;
  padding-top: 0;
}

/* Main */

#main {
  width: 100%;
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F5F5F5;
}

#main .img-fluid {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

/* Sections */

.section {
  margin-top: 42px;
  margin-bottom: 42px;
}

.subsection {
  max-width: 820px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 12px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.subsection:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.titlerow {
  height: 40px;
}

.bodyrow {
  margin-top: 28px;
  padding-left: 28px;
  padding-bottom: 24px;
  padding-right: 28px;
}

.btn-primary {
  margin-top: 24px;
  border: 1px solid #FF4D4D;
  padding: 4px 8px;
  background-color: #fff !important;
  color: #FF4D4D !important;
  border-color: #FF4D4D !important;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn-primary:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF4D4D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn-primary:hover,
.btn-primary:active {
  color: #fff !important;
  text-decoration: none;
}

.btn-primary:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Card titles */

.titleabs {
  color: #FF4D4D;
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
  letter-spacing: 5px;
  font-weight: bold;
}

.titleborder {
  position: absolute;
  border-right: 1px solid #FF4D4D;
  border-bottom: 1px solid #FF4D4D;
  height: 45px;
  width: 62px;
}

#abouttitleborder {
  margin-left: 42px;
  width: 70px;
}

#gallerytitleborder {
  margin-left: 42px;
  width: 88px;
}

#maptitleborder {
  margin-left: 42px;
  width: 44px;
}

#modeltitleborder {
  margin-left: 42px;
  width: 72px;
}

#statstitleborder {
  margin-left: 42px;
  width: 60px;
}

#peopletitleborder {
  margin-left: 42px;
  width: 80px;
}

/* About */

#aboutsection p:nth-child(2) {
  margin: 0;
}

#ratchat {
  color: #FF4D4D;
}

/* Gallery */

.carousel {
  width: 100%;
  background-color: #F5F5F5;
}

#gallerysection .carousel-inner .carousel-item img {
  max-height: 400px;
  width: auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF4D4D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FF4D4D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Map */

#map {
  height: 100%;
  width: 100%;
}

/* Model */

#model {
  height: 100%;
  width: 100%;
}

/* Stats */

.card {
  height: 325px;
  text-align: center;
  margin: 6px 0;
}

.card-body {
  color: #04343F;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-body h1 {
  color: #FF4D4D;
  margin: 0 auto;
  font-size: 108px;
  font-weight: bold;
}

.card-body div h5 {
  color: #FF4D4D;
  font-weight: 700;
}

.card-footer {
  color: #04343F;
}

#statssection .bodyrow .row:nth-child(2) {
  margin-top: 16px;
}

/* People */

#peoplesection .bodyrow {
  text-align: center;
}

#peoplesection .bodyrow h6:nth-child(3) {
  margin: 0;
}

#ellen {
  border-right: 1px solid #FF4D4D;
  text-align: right;
  padding-right: 36px;
}

#carl {
  text-align: left;
  padding-left: 36px;
}

#amanda {
  text-align: center;
}

#amandarow {
    margin-top: 0;
    padding-bottom: 36px;
}

#michael {
  border-right: 1px solid #FF4D4D;
  text-align: right;
  padding-right: 36px;
}

#winne {
  text-align: left;
  padding-left: 36px;
}

#peoplesection h5 {
  font-weight: bold;
}

#cdsfellows {
  margin-top: 14px;
  text-align: center;
}

#advisors {
  text-align: center;
}

.school {
  color: #6a6a6a;
}

.email {
  color: #FF4D4D;
}

/* Footer */

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

/* Media Queries */

@media only screen and (max-width: 991px) {
  #navbarNavAltMarkup .navbar-nav .nav-item {
    text-align: center;
    padding-top: 12px;
    width: 74px;
    margin-left: auto;
    margin-right: auto;
  }
  #navbarNavAltMarkup .navbar-nav {
    margin: 0 auto;
  }
  .col-lg-4:nth-child(2) {
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .card {
    height: 275px;
  }
}

@media only screen and (max-width: 767px) {
  #ellen {
    border-right: 0;
    border-left: 1px solid #FF4D4D;
    margin-left: 12px;
    margin-bottom: 24px;
    text-align: left;
    padding-left: 20px;
  }

  #carl {
    border-left: 1px solid #FF4D4D;
    margin-left: 12px;
    padding-left: 20px;
  }

  #michael {
    border-right: 0;
    border-left: 1px solid #FF4D4D;
    margin-left: 12px;
    margin-bottom: 24px;
    text-align: left;
    padding-left: 20px;
  }

  #winne {
    border-left: 1px solid #FF4D4D;
    margin-left: 12px;
    padding-left: 20px;
  }

  #amanda {
    border-left: 1px solid #FF4D4D;
    margin-left: 12px;
    padding-left: 20px;
    text-align: left;
  }

  #cdsfellows {
    margin-top: 28px;
    text-align: left;
    padding-left: 46px;
  }

  #advisors {
    text-align: left;
    padding-left: 46px;
  }

}

@media only screen and (max-width: 466px) {
  .navbar a span {
    font-size: 26px;
  }
  .navbar img {
    height: 30px;
    width: 55px;
  }
  #menu div {
    height: 4px;
    margin: 4px 12px;
  }
  #sidebar {
    padding-top: 40px;
  }
  #sidebar a {
    font-size: 20px;
    padding-top: 14px;
  }
  #sidebar .closebtn {
    font-size: 48px;
  }
}